<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <%= link_to root_path, class:"logo" do %><%= image_tag "pop_corn.png", width: 100 %><% end %>
    </a>
  </div>
</nav>
